{% extends "pelis/main.html" %}

{% block formulario %}
<form action="all" method="POST">
    {% csrf_token %}
    <div class="form-group">
        <label for="nombre">Peliculas</label>
        <input type="text" class="form-control" id="pelicula" name="pelicula" placeholder="Example: Slow West">
    </div>
    <div class="form-group">
        <label for="nombre">Año</label>
        <input type="text" class="form-control" id="anio" name="anio" placeholder="Example: 2015">
    </div>
    <div class="form-group">
        <label for="nombre">Actor</label>
        <input type="text" class="form-control" id="actor" name="actor" placeholder="Example: Kodi Smit-McPhee">
    </div>        
    <button style="margin-top: 20px;" type="submit" class="btn btn-primary">Enviar</button>
</form>
{% endblock %}
