<html>
    <head>
        <title>Ejercicio de expresiones regulares</title>
    </head>
    <body>
        Estadisticas del año {{ año }}
        <table>
            <tr>
                <th>Nombre</th>
                <th>Número</th>
            </tr>
            {% for l in lista %}
                <tr>
                    <td> {{ l.nombre }} </td>
                    <td> {{ l.numero }} </td>
                </tr>
            {% endfor %}
        </table>
        <!-- <table>
            <tr>
                <th>Titulos</th>
            </tr>
            {% for t in titulos %}
                <tr>
                    <td> {{ t }} </td>
                </tr>
            {% endfor %}
        </table> -->
        <!-- {% for t in titulos %}

        {% endfor %} -->
        {{ titulos }}
    </body>
</html>
