<!Doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        {% load staticfiles %}
        <link rel="stylesheet" type="text/css" href="{% static "ejercicios/style.css" %}">
        <title>EJERCICIO PYMONGO</title>
    </head>
        <body> 
            <div class="principal">
                <h1 id="h1Ejercicios">Ejercicios Pymongo con CSS</h1>
            </div> 
            {% block formulario %}         
            {% endblock %} 
            
            {% block info_peliculas %}         
            {% endblock %} 
        </body>
</html>
